@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background: #0c2f4b;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

a {
    color: darkorange;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {
    color: crimson;
}

::selection {background-color: darkorange; color: black}
-moz-::selection {background-color: darkorange; color: black}

img {
    height: auto;
}

.right {float: right;}
.left {float: left;}

header, footer {
    width: 98%;
    background-color: #0c2b4b;
    padding: 10px;
    min-height: 50px;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
    
}

span {}

footer {
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;
    padding-bottom: 2%;
}
footer img {padding: 1%}